@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #26ccc2;
  --color-secondary: #6aece1;
  --color-neutral: #0f0e0e;
  --color-error: #f72c5b;
  --color-white: #f9f8f6;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-primary: #26ccc2;
  --color-secondary: #6aece1;
  --color-neutral: #0f0e0e;
  --color-error: #f72c5b;
  --color-white: #f9f8f6;
  --color-base-100: #082032;
  --color-base-200: #2b2b2b;
  --color-base-300: #334756;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral dark:text-white font-['Montserrat_Alternates'];
}

.label {
  @apply font-medium text-base lg:text-lg text-neutral dark:text-white;
}

.btn {
  @apply btn-sm md:btn-md md:font-semibold md:text-base font-['Montserrat_Alternates'];
}

.btn:disabled {
  @apply disabled:bg-gray-300 disabled:bg-none disabled:pointer-events-auto disabled:cursor-not-allowed;
}

.logo {
  @apply inline-flex items-center gap-0.5 text-2xl md:text-3xl font-bold max-w-9 md:max-w-12 rounded-full focus:outline-none focus:ring-2 focus:ring-primary/30 font-['Montserrat_Alternates'];
}

.nav_links {
  @apply relative text-base font-semibold! text-neutral dark:text-white transition-colors duration-300 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-linear-to-r after:from-primary after:to-secondary after:transition-all after:duration-300 bg-transparent;
}

.nav_links:hover,
.nav_links.active {
  @apply text-primary after:w-full;
}

.dashboard_nav_links {
  @apply flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-300 hover:bg-base-100 hover:shadow-md hover:scale-102;
}

.dashboard_nav_links.active {
  @apply bg-primary shadow-lg scale-105 text-neutral dark:text-white;
}

.input,
.textarea {
  @apply bg-transparent dark:text-white!;
}

.select {
  @apply bg-base-300;
}

.input,
.textarea,
.select {
  @apply w-full block border-primary/50 focus:border-primary focus:ring-1 focus:ring-primary/50 transition-shadow duration-300 outline-primary;
}

.latest-books-swiper {
  @apply py-5 px-0;
}

.wish_heart {
  @apply btn btn-square text-xl! w-fit sm:text-2xl! bg-transparent rounded-full shadow-none border-none tooltip tooltip-left;
}

.MuiPaginationItem-root:hover {
  @apply bg-primary/20!;
}

.MuiPaginationItem-root {
  @apply dark:text-white! font-medium! text-sm sm:text-base;
}

.MuiPaginationItem-root.Mui-selected {
  @apply bg-primary/70! font-bold!;
}

.MuiTableRow-root {
  @apply dark:bg-base-100;
}

.MuiTableCell-root {
  @apply dark:text-white!;
}

.MuiTableRow-head {
  @apply bg-primary/50;
}

.MuiTableCell-head {
  @apply text-base! dark:text-neutral! font-semibold!;
}

.MuiTab-root {
  @apply dark:text-white!;
}

.MuiTab-root.Mui-selected {
  @apply text-primary!;
}

.swal2-popup,
.swal2-success-circular-line-left,
.swal2-success-circular-line-right,
.swal2-success-fix {
  @apply dark:bg-base-100!;
}

.swal2-title {
  @apply dark:text-white;
}

.swal2-html-container {
  @apply dark:text-white/70;
}

.swal2-confirm {
  @apply bg-linear-to-br from-primary/60 hover:from-primary/75 to-secondary/60 hover:to-secondary/75 duration-300 transition-colors text-neutral dark:text-white;
}

.authors-swiper .swiper-slide:not(.swiper-slide-active) {
  @apply blur-sm! opacity-70!;
}

.authors-swiper .swiper-slide-next,
.authors-swiper .swiper-slide-prev {
  @apply blur-xs! opacity-90!;
}

.authors-swiper {
  @apply w-full! py-12!;
}

.authors-swiper .swiper-slide {
  @apply bg-center! bg-cover! w-[280px]! h-auto!;
}

.recharts-cartesian-axis-tick-value{
  @apply text-neutral! dark:text-white!
}