@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6439ff;
  --color-secondary: #4f75ff;
  --color-neutral: #0f0e0e;
  --color-error: #F72C5B;
  --color-white: #f9f8f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-neutral;
}

.label {
  @apply font-medium text-base lg:text-lg text-neutral;
}

.btn {
  @apply btn-sm md:btn-md md:font-semibold md:text-base;
}

.btn:disabled {
  @apply disabled:bg-gray-300 disabled:bg-none disabled:pointer-events-auto disabled:cursor-not-allowed;
}

.logo {
  @apply inline-block max-w-12 md:max-w-16 rounded-full focus:outline-none focus:ring-2 focus:ring-primary/30;
}

.nav_links {
  @apply relative text-base font-semibold! text-neutral transition-colors duration-300 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-linear-to-r after:from-primary after:to-secondary after:transition-all after:duration-300;
}

.nav_links:hover,
.nav_links.active {
  @apply text-primary after:w-full bg-primary-content;
}

.dashboard_nav_links {
  @apply flex items-center gap-3 px-4 py-3 rounded-lg transition-all duration-300 hover:bg-base-100 hover:shadow-md hover:scale-102;
}

.dashboard_nav_links.active {
  @apply bg-primary text-primary-content shadow-lg scale-105;
}

.input,
.textarea {
  @apply bg-transparent;
}

.select {
  @apply bg-base-300;
}

.input,
.textarea,
.select {
  @apply w-full block border-primary/20 focus:border-primary focus:ring-1 focus:ring-primary/20 transition-shadow duration-300 outline-primary;
}
